*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Barlow", "Fraunces";
  font-size: 2rem;
}

h1 {
  font-size: 5rem;
  font-weight: 900;
}

p {
  font-size: 1.7rem;
  line-height: 1.8;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 4rem;
  }

  p {
    font-size: 1.5rem;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
}

.collapsible_content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s;
}

.collapsible_expanded .collapsible_content {
  max-height: 100vh;
  opacity: 1;
}

.header {
  padding: 3rem 2rem 15rem 2rem;
  background: url(../images/mobile/image-header.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  position: relative;
}

.nav_bar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 6rem;
}

.nav_list {
  width: 100%;
  margin: 0;
  list-style: none;
}

.nav_item > a {
  text-decoration: none;
  font-size: 1.8;
  color: #fff;
  opacity: 0.6;
}

.p {
  margin-top: 1rem;
}

.nav_item {
  margin-bottom: 1rem;
  border-bottom: 1px solid #fff;
  padding: 1rem;
}

.nav_btn {
  background: #fff;
  padding: 1rem 2rem;
  border-radius: 30px;
  border: 0;
  outline: 0;
}

.nav_content h1 {
  font-family: "Fraunces";
  text-align: center;
  color: #fff;
  margin-bottom: 5rem;
}

.arrow {
  position: absolute;
  bottom: 90px;
  left: 45%;
}

@media screen and (min-width: 768px) {
  .nav_toggler {
    display: none;
  }

  .nav_list {
    display: flex;
    gap: 2rem;
    width: auto;
    max-height: 100%;
    opacity: 1;
  }

  .p {
    margin-top: 0;
  }

  .nav_item {
    border: 0;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .header {
    background: url(../images/desktop/image-header.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    padding-bottom: 15rem;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    background: url(../images/desktop/image-header.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    padding-bottom: 30rem;
  }

  .arrow {
    bottom: 200px;
    left: 47%;
  }
}

.egg_img,
.glass_img {
  width: 100%;
}

.brand,
.audience {
  padding: 3rem 3rem 10rem 3rem;
  text-align: center;
  font-family: "Fraunces";
}

.brand p,
.audience p {
  margin-bottom: 3rem;
}

.link {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 3rem;
  font-weight: 800;
  color: #000;
}

.line_yellow {
  background-color: hsl(51, 100%, 49%);
  border-radius: 30px;
  height: 10px;
  width: 250px;
  margin: 0 auto;
  transform: translateY(-100%);
  opacity: 0.3;
}

.line_red {
  background-color: hsl(7, 99%, 70%);
  border-radius: 30px;
  height: 10px;
  width: 250px;
  margin: 0 auto;
  transform: translateY(-100%);
  opacity: 0.3;
}

.egg_grid,
.glass_grid {
  display: grid;
}

@media screen and (min-width: 1024px) {
  .egg_grid,
  .glass_grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .egg_img,
  .glass_img {
    max-height: 533px;
  }

  .egg_img {
    order: 1;
  }

  .brand,
  .audience {
    padding: 5rem;
  }
}

@media screen and (min-width: 1440px) {
  .brand,
  .audience {
    padding: 15rem 3rem 0 3rem;
    align-self: center;
  }
}

.cherry {
  background: url(../images/mobile/image-graphic-design.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.tangerine {
  background: url(../images/mobile/image-photography.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-attachment: scroll;
}

.cherry_content,
.tangerine_content {
  padding: 30rem 0 3rem 0;
  font-family: "Fraunces";
  text-align: center;
}

.fruit_grid {
  display: grid;
}

@media screen and (min-width: 1024px) {
  .cherry {
    background: url(../images/desktop/image-graphic-design.jpg);
    background-position: center;
  }

  .tangerine {
    background: url(../images/desktop/image-photography.jpg);
    background-position: center;
  }

  .fruit_grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .cherry_content,
  .tangerine_content {
    padding: 30rem 0 10rem 0;
  }
}

.testimonial_block {
  padding: 5rem 1rem 8rem 1rem;
  text-align: center;
  font-family: "Fraunces";
  display: grid;
  justify-content: center;
}

.testimonial_block h1 {
  font-size: 3rem;
  color: hsl(210, 4%, 67%);
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-bottom: 8rem;
}

.testimonial > img {
  border-radius: 100%;
  margin-bottom: 3rem;
}

.testimonial > p {
  margin-bottom: 3rem;
}

.author h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.author P {
  color: hsl(210, 4%, 67%);
}

.testimonial_grid {
  display: grid;
  gap: 5rem 0;
}

@media screen and (min-width: 1024px) {
  .testimonial_block {
    padding: 5rem;
  }

  .testimonial_grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}

.imgage_grid > img {
  width: 100%;
}

.imgage_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (min-width: 1024px) {
  .imgage_grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .img1 {
    content: url(../images/desktop/image-gallery-milkbottles.jpg);
  }

  .img2 {
    content: url(../images/desktop/image-gallery-orange.jpg);
  }

  .img3 {
    content: url(../images/desktop/image-gallery-cone.jpg);
  }
  .img4 {
    content: url(../images/desktop/image-gallery-sugarcubes.jpg);
  }

  .img1,
  .img2,
  .img3,
  .img4 {
    max-height: 533px;
  }
}

.footer {
  padding: 5rem 0 7rem 0;
  background: hsl(168, 34%, 41%);
  display: grid;
  justify-items: center;
}

.footer_logo {
  width: 250px;
  margin-bottom: 4rem;
}

.footer_content {
  display: flex;
  gap: 5rem;
}

.footer_item {
  font-size: 2rem;
  font-weight: 800;
  color: hsl(167, 40%, 24%);
  margin-bottom: 6rem;
}

.footer_icons {
  display: flex;
  gap: 3rem;
}

.icon {
  fill: hsl(167, 40%, 24%);
}
